[build]
  base = "client"
  publish = "build"
  command = "cd ../server && npm install && cd ../client && npm run build"
  functions = "../server/netlify/functions"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/server/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
